@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
body {

}

.logo{
    height: 70px; 
    width: 70px; 
}

.navbar {
  overflow: hidden;
  margin-top: 0%;
  background-color: rgba(14, 110, 188, 0.863);
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 15px 25px;
  text-decoration: none;
}

.navbar img {
  float: left;
  display: block;
  color: white;
  text-align: center;
  margin-left: 10px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.profilepic {
  height: 100px; 
  width: 100px; 
}

.main{
    display: flex; 
}  
  /* Control the left side */
  .child {
    flex: 1;
    border: 2px solid black;
    
  }

  .child:first-child{
    margin-right:20px;
    height: 100%;  
  }
  
  /* Control the right side */
  .iframe{
    width: 100%;
    height: 100%; 
  }