<html>
    <head>

    </head>
    <body>
        <label for="productImage"><b>Image</b></label> </br>
        <form method = "post" action = "/changePfp" enctype="multipart/form-data">
        <input type="file"  name="userImage"  accept="image/*" required>
            <button type = "submit"> Upload </button>
        </form>
    </body>
</html>