<div class="bar">
    <img src="images/logo.png" alt="logo" style="height:50px;"> &nbsp;
    <form action="/shop" method="get"> 
        <button type = "submit"> Home </button> 
    </form>
    <a href="AboutUs2.html">About Us</a> <!--Redirect to About Us Page--> 
    <form action="/profile" method="get"> 
        <button type = "submit"> Profile </button> 
    </form>
    <a href="Cart.html">Cart</a> 
  </div>