<div class="bar">

    <!--Logo-->
    <img src="images/logo.png" alt="logo" class = "logo"> 

    <!--Main Page-->
    <form action="/shop" method="get"> 
        <button type = "submit"> Home </button> 
    </form> 

    <!--About Us-->
    <form action="/AboutUs2" method="get"> 
        <button type = "submit"> About Us </button> 
    </form>

    <!--Profile-->
    <form action="/profile" method="get"> 
        <button type = "submit"> Profile </button> 
    </form> 

    <!--Cart-->
    <form action="cart.html" method="get"> 
        <button type = "submit"> Cart </button> 
    </form> 

    <!--Cart-->
    <form action="AdminView.html" method="get"> 
        <button type = "submit"> Admin </button> 
    </form> 
      
</div>